
* {
  box-sizing: border-box;
}

html {
  background-color: grey;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
  text-align: center;
}

header {
  background: pink;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 15px;
  margin: 5px;
}