

body {
  max-width: 1152px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

header {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
  grid-gap: 20px;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center; */
}

footer {
  width: 100%;
}
